@use '@pepabo-inhouse/button' as button;

.in-button {
  @include button.style;

  @each $appearance in (flat, outlined, solid, white, transparent, hollow) {
    &-#{$appearance} {
      @include button.style(
        $options: (appearance: $appearance)
      );
    }
  }

  @each $brightness in (light, dark) {
    &-brightness-#{$brightness} {
      @include button.style(
        $options: (brightness: $brightness)
      );
    }
  }

  @each $color in (neutral, negative, interactive, favorite) {
    &-color-#{$color} {
      @include button.style(
        $options: (color: $color)
      );
    }
  }

  @each $shape in (circle, square) {
    &-shape-#{$shape} {
      @include button.style(
        $options: (shape: $shape)
      );
    }
  }

  @each $size in (xs, s, m, l, xl) {
    &-#{$size} {
      @include button.style(
        $options: (size: $size)
      );
    }
  }

  @each $state in (enabled, hover, focused, disabled) {
    &--#{$state} {
      @include button.style(
        $options: (state: $state)
      );
    }
  }

  @each $width in (auto, full, half, third) {
    &-#{$width} {
      @include button.style(
        $options: (width: $width)
      );
    }
  }
}
